{
    "slackHookUrl": "https://hooks.slack.com/services/foobar",
    "slackToken": "yourtoken"
    "debug": false,
    "outputToSlack": false,
    "slackIcon": ":ninja:",
    "repos": [
        {
            "owner": "kblok",
            "name": "pr-notifier"
        }
    ],
    "reviewers": [
        {
            "name": "Dario",
            "username": "kblok",
            "slackChannel": "#dotnet",
            "slackUser": "@kblok",
            "repos": [
                { 
                    "repo": "pr-notifier"
                }
            ]
        }
    ]
}